<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Leronzo</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

    <div class="wrapper">



        <header class="header">

            <div class="container">
                <nav class="nav">
                    <div class="nav__top">
                        <ul class="menu">
                            <li class="menu__item">
                                <a class="menu__item-logo" href="#">
                                    <img class="logo" src="../images/logo.svg" alt="leronzo-logo">
                                </a>
                            </li>
                            <li class="menu__item">
                                <p class="menu__item-slogan">
                                    Professional Cleaning Services – Toronto & GTA
                                </p>
                            </li>
                            <li class="menu__item">
                                <div class="menu__item-contacts">
                                    <a class="menu__item-media" href="#">
                                        <img src="../images/tel.svg" alt="phone-icon">
                                    </a>
                                    <a class="menu__item-media" href="#">
                                        <img src="../images/whatsapp.svg" alt="whatsapp-icon">
                                    </a>
                                    <div class="menu__item-contacts--box">
                                        <a class="menu__item--box-link" href="tel:+14895985665">+1 489 598 56 65</a>
                                        <p class="menu__item--box-text">Daily from 9 am to 6 pm</p>
                                    </div>

                                </div>
                            </li>
                            <li class="menu__item">
                                <button class="menu__item-button">
                                    Order a call
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="nav__bottom">
                        <ul class="menu">
                            <li class="menu__item">
                                <a class="menu__item-link" href="#">Apartment </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__item-link active" href="#">House</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__item-link" href="#">Office & Commercial</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__item-link" href="#">Carpet & Upholstery</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__item-link" href="#">Cleaning Prices</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__item-link" href="#">About Us</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__item-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>


        </header>